:root {
  --DESKTOP_SECTION_SIZE: calc(100vh - 120px);
  --DESKTOP_SECTION_MIN_SIZE: 500px;
  --BACKGROUND_COLOR: #181818;
}

html,
body {
  background-color: var(--BACKGROUND_COLOR);
  margin: 0;

  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

section {
  scroll-margin-top: 120px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#navbar {
  display: flex;
  position: sticky;
  align-items: center;
  top: 0;
  left: 0;
  height: 118px;
  padding: 0 5%;

  background-color: rgb(1, 0, 244);
  border-bottom: 2px solid black;

  z-index: 999;
}

#navbar #logo {
  display: flex;
  justify-content: start;
  width: 30%;
  padding: 0 1rem;
}

#navbar #logo #logo-container {
  width: min-content;
  transition: transform 300ms;
  cursor: pointer;
}

#navbar #logo #logo-container:hover {
  transform: scale(1.1);
}

#navbar #logo #logo-container img {
  height: 90px;
}

#navbar #buttons {
  display: flex;
  align-items: center;
  justify-content: end;

  width: 70%;
  height: calc(100% - 2rem);

  gap: 3rem;
}

#navbar #buttons button {
  position: relative;
  font-family: "Alice", serif;
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 3px;
  padding: 0 1rem;

  color: white;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

#navbar #buttons button:before {
  position: absolute;
  content: "";
  bottom: -6px;
  left: 0;
  width: 0;
  height: 4px;

  background-size: 100% 100%;

  transition: width 300ms ease-in-out, background 300ms;
}

#navbar #buttons button[current]::before {
  width: 100%;
  background-color: #ff9c01;
}

#navbar #buttons button:hover::before {
  width: 100%;
  background-color: #ff5100;
}

#container {
  display: flex;
  flex-direction: column;
  justify-self: center;

  width: 90%;
  margin-bottom: 3rem;

  gap: 2rem;
}

#container #welcome {
  position: relative;
  min-height: var(--DESKTOP_SECTION_MIN_SIZE);
  height: var(--DESKTOP_SECTION_SIZE);

  overflow: hidden;
}

#container #welcome #video {
  position: relative;
  width: 100%;
  height: 100%;
}

#container #welcome #video video,
#container #welcome #video img {
  position: absolute;
  top: 70%;
  transform: translateY(-30%);
  width: 100%;
}

#container #welcome #content {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  color: white;
  background-color: #000000aa;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  gap: 1rem;

  z-index: 1;
}

#container #welcome #content #logo {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 50%;
}

#container #welcome #content #logo img {
  width: 70%;
}

#container #welcome #content #text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 50%;
  padding: 1rem;
}

#container #welcome #content #text h1 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 0.08em;
  text-shadow: 0px 10px 10px black;
}

#container #welcome #content #text p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-size: 30px;
  text-align: center;

  text-shadow: 0px 10px 10px black;
}

#container #gallery {
  display: flex;
  min-height: var(--DESKTOP_SECTION_MIN_SIZE);
  height: var(--DESKTOP_SECTION_SIZE);

  gap: 1rem;

  background: radial-gradient(circle 25vw at center, #ff9f00 0%, var(--BACKGROUND_COLOR) 100%);
}

#container #gallery #slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 50%;
  height: 100%;
}

#container #gallery #slider .image-container {
  position: absolute;
  height: 100%;
  opacity: 0;

  transition: opacity 1000ms;
}

#container #gallery #slider .image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 10px 10px var(--BACKGROUND_COLOR);
}

#container #gallery #slider .image-container img {
  height: inherit;
}

#container #gallery #text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  position: relative;

  width: 50%;
  height: 100%;

  color: white;

  text-shadow: 5px 5px 5px #ff590091;
}

#container #gallery #text .text-container {
  position: absolute;
  opacity: 0;

  transition: opacity 1000ms;
}

#container #gallery #text .text-container h1 {
  font-size: 42px;
  padding: 0 2rem;
  margin-bottom: 3rem;
}

#container #gallery #text .text-container p {
  font-size: 22px;
  font-style: italic;
  padding: 0 2rem;
}

#container #services {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  display: flex;
  flex-direction: column;
  place-items: center;

  min-height: var(--DESKTOP_SECTION_MIN_SIZE);
  height: var(--DESKTOP_SECTION_SIZE);

  color: white;
}

#container #services #title {
  text-align: center;
  padding: 1rem;
}

#container #services #content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  gap: 1rem;
}

#container #services #content .planes {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: calc(33% - 3rem);
  height: 70%;
  min-height: 590px;
  padding: 1rem 1rem;

  border-radius: 1.5rem;
  box-shadow: 0px 1px 5px #ffffff;

  gap: 1rem;
}

#container #services #content .planes #logo {
  height: 15%;
  width: fit-content;
}

#container #services #content .planes #title {
  font-size: 20px;
  width: 100%;
  padding: 0.5rem 0;
}

#container #services #content .planes ul {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 0;
}

#container #services #content #plan1 {
  background-color: #43bf81;
}

#container #services #content #plan1 #title {
  border-top: 1px solid #e6fff8;
  border-bottom: 1px solid #e6fff8;
}

#container #services #content #plan2 {
  background-color: #e978d4;
}

#container #services #content #plan2 #title {
  border-top: 1px solid #fff4ff;
  border-bottom: 1px solid #fff4ff;
}

#container #services #content #plan3 {
  background-color: #6d66c6;
}

#container #services #content #plan3 #title {
  border-top: 1px solid #fcfcff;
  border-bottom: 1px solid #fcfcff;
}

#container #services #content #plan3 #album {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 25%;
}

#container #contact {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  display: flex;
  flex-direction: column;
  place-items: center;

  color: white;
  min-height: var(--DESKTOP_SECTION_MIN_SIZE);
  height: var(--DESKTOP_SECTION_SIZE);
}

#container #contact #title {
  padding: 1rem 0;
}

#container #contact #inner-container {
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
}

#container #contact #inner-container #line1 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  transform: translate(-50%, -50%);

  width: 80%;
  height: 90%;
  border: 10px solid;

  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    #e2be68 0%,
    #856029 40%,
    #856029 60%,
    #e2be68 100%
  );

  z-index: 1;
}

#container #contact #inner-container #line2 {
  position: absolute;
  top: calc(50% + 10px);
  left: calc(50% + 10px);
  transform: translate(-50%, -50%);

  width: 80%;
  height: 90%;
  border: 10px solid;

  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    #e2be68 0%,
    #856029 40%,
    #856029 60%,
    #e2be68 100%
  );

  z-index: 2;
}

#container #contact #inner-container #content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(80% - 19px);
  height: calc(90% - 19px);

  background-color: #f3e5f5;
  background-image: radial-gradient(at 0% 0%, hsla(253, 16%, 81%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(225, 39%, 90%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(339, 49%, 91%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(210, 30%, 85%, 1) 0px, transparent 50%);
  background-size: cover;

  z-index: 3;
}

#container #contact #inner-container #content #top-half {
  display: flex;
  height: calc(70% - 1rem - 0.5px);
  gap: 2rem;
}

#container #contact #inner-container #content #top-half #logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
}

#container #contact #inner-container #content #top-half #logo img {
  width: 70%;
}

#container #contact #inner-container #content #top-half #text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;
  gap: 1rem;
}

#container #contact #inner-container #content #top-half #text h1 {
  text-shadow: 00px 5px 10px #00000055;
}

#container #contact #inner-container #content #top-half #text button {
  font-size: 28px;
  padding: 1rem 2rem;

  color: white;
  background-color: #ff772e;
  border: 1px solid #ffd28a;
  border-radius: 2rem;

  box-shadow: 5px 5px 20px #00000066;
  transition: background 300ms, border 300ms, color 300ms;
  cursor: pointer;
}

#container #contact #inner-container #content #top-half #text button:hover {
  background-color: #278bfd;
  border: 1px solid #ffd28a;
}

#container #contact #inner-container #content #divisor {
  align-self: center;
  width: 60%;
  margin: 1rem 0;

  border: 1px solid #00000066;
  border-radius: 2rem;
}

#container #contact #inner-container #content #bottom-half {
  display: flex;
  align-items: center;
  justify-content: center;

  height: calc(30% - 1rem - 0.5px);
}

#container #contact #inner-container #content #bottom-half h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

#container #contact #inner-container #content #bottom-half #links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 60%;
  height: 100%;
}

#container #contact #inner-container #content #bottom-half #links .rrss {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 50%;
}

#container #contact #inner-container #content #bottom-half #links .rrss .button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  gap: 0.5rem;

  transition: transform 300ms;
  cursor: pointer;
}

#container #contact #inner-container #content #bottom-half #links .rrss .button:hover {
  transform: scale(1.1);
}

#container #contact #inner-container #content #bottom-half #links .rrss .button img {
  height: 100%;
}

#container #contact #inner-container #content #bottom-half #links .rrss .button p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  white-space: pre;
}

#footer {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-size: 17px;
  position: relative;
  width: 90%;
  height: 200px;
  padding: 0 5%;

  color: white;
  background-color: #6060624d;
}

#footer #footer-logo {
  padding: 2rem 5%;
}

#footer #footer-logo img {
  height: 100px;
}

#footer #copyright {
  display: flex;
  position: absolute;
  width: 90%;
  bottom: 0;
}

#footer #copyright #text {
  display: flex;
  width: 70%;
  gap: 1rem;
}

#footer #copyright #author {
  justify-items: end;
  width: 30%;
}

#footer #copyright #author p {
  width: min-content;
  cursor: not-allowed;
  user-select: none;
  transition: opacity 200ms;
}

#footer #copyright #author p:hover {
  opacity: 0;
}
