@media (max-height: 763px) {
  :root {
    --DESKTOP_NAVBAR_HEIGHT: calc(16vh - 2px);
  }
}

@media (max-height: 513px) {
  :root {
    --DESKTOP_NAVBAR_HEIGHT: 80px;
  }
}

@media (max-width: 1200px) {
  #container {
    width: 100%;
  }
}
